.listItem{
    display: flex;
    align-items: center;
    gap:20px;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid rgba(174, 173, 173, 0.936);
    border-radius: 5px;
}
.listItem > input{
    width: 18px;
}
.listItem > p.content {
    flex: 1;
}
.listItem > p.date {
    color: rgb(136, 134, 134);
    font-size: 15px;
}
.listItem > button {
    color: gray;
    font-size: 14px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}